<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Corona Covid-19 Tracker</h1>
    <hr>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Natus amet dolore quis, autem possimus quod hic neque, 
        dolores aut nobis quae nemo? Nihil dolores voluptate nobis pariatur odio. Quis, doloribus.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Vel alias est tempore consequatur et aliquid praesentium,
        maxime explicabo ducimus ullam non molestiae nostrum veniam quas sit suscipit animi eius atque.</p>
</div>
